/* @import '../public/Vector12.png';
@import '../public/articleCard1.png';
@import '../public/articleCard2.png';
@import '../public/articleCard3.png'; */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

/* .headerSection {
  background-image: url('/Vector12.png'); 
  background-size: cover;
  background-position: center;
  background-color: antiquewhite;
  height: 100vh;
} */


@font-face {
  font-family: 'AwesomeSerif';
  src: url('/fonts/AwesomeSerif-SemBdExtraTall.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Coefficient DEMO';
  src: url('/fonts/Coefficient-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
/* test */
.ethosBackgorund {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.ethosContainer {
  top: 41%;
  right: 20%;
}


/* 
.headingImage {
  width: 100vw;
  height: auto;
  object-fit: cover;

} */

.DesktopHide {
  display: none;
}

.baseSection {
  margin: 80px 50px 20px 50px;
}

.bespokeDiv {
  display: flex;
}

.bespokeDivTitle {
  font-family: 'Coefficient DEMO', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 5%;

}

/* .bespokeDiv1,
.bespokeDiv2 {
  width: 50%;
} */


.bespokeDivP {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 5%;

}

.card1 {
  background-color: #F3EEE7 !important;
  width: fit-content;
  border: none;
  padding-inline: 50px;
}

.borderedRow {
  border-bottom: 1px dashed #BDBDBD;
  margin-top: 20px;
}

.captionTop {
  font-family: 'AwesomeSerif', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 5%;


}

.column1 {
  font-family: 'AwesomeSerif', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 5%;

}

.column2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 5%;
  text-transform: capitalize;
  text-align: justify;

}

.privacyPRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-top: 1px solid #BDBDBD;

}

.privacyPRow p {
  font-size: 10px;
  margin-bottom: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

}

.ourEthos,
.relativeSection {
  display: flex;
  flex-direction: column;
  /* background-color: #F3EEE7;
  background-image: url(/Group1000003148.png);
  background-repeat: no-repeat;
  height: 500px;
  width: 100%; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fullWidth {
  width: 100% !important;
}

.ethosTitle {
  font-family: 'Coefficient DEMO', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 48px;
  letter-spacing: 0.2px;
  text-align: center;
  vertical-align: middle;

}

.ethosText {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;

}

.sectionDescription {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: justify;

}

.sectionTitle {
  font-family: 'Coefficient DEMO', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

}

.leftBoxShadow {
  box-shadow: -31px -26px #F3EEE7;
  border-radius: 15px;
}

.rightBoxShadow {
  box-shadow: 31px -26px #F3EEE7;
  border-radius: 15px;
  border-top-left-radius: 100px;
}

.marginBottom {
  margin-bottom: 100px;
}

.locationDiv {
  top: 10%;
}

.locationDivP {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 5%;
  text-align: justify;
  margin-top: 50px;
}

.locationDivTitle {


  font-family: 'Coefficient DEMO', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.2px;
  vertical-align: middle;

}

.locationDiv Button {
  padding-inline: 50px;
  font-family: 'AwesomeSerif', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 10%;
  text-transform: uppercase;

}

.articleDiv {
  padding-inline: 100px;
}

.viewAll Button {
  padding: 20px 50px;
  font-size: 18px;
}

.articleCard1,
.articleCard2,
.articleCard3 {
  border-radius: 16px;
  border: none;
  height: 434px;
  width: auto;
  margin-right: 50px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.articleCard1 {
  background-image: url('../public/articleCard1.png');
}

.articleCard2 {
  background-image: url('../public/articleCard2.png');
}

.articleCard3 {
  background-image: url('../public/articleCard3.png');
  margin-right: 0 !important;
}

.cardtitle {
  font-family: 'AwesomeSerif', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 5%;

}

.articleCardTitle {
  font-family: 'AwesomeSerif', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
  margin-left: 20px;
}

.exclusiveDeals {
  border-top: 2px solid #BDBDBD;
  border-bottom: 2px solid #BDBDBD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 0 50px;
  padding: 60px 0;

}

.exclusiveDescription {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 5%;
  text-align: center;
  text-align: center;
}

.exclusiveTitle {
  font-family: 'Coefficient DEMO', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 48px;
  letter-spacing: 0.2px;

}

.exclusiveDeals Button {
  padding-inline: 50px;
}

/* .location .bespokeDivTitle{
  text-align: start;
}
.location .bespokeDivP {
  text-align: justify;
} */
























@media screen and (max-width: 968px) {
  .baseSection {
    margin-inline: 10px;
  }

  .card1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline: 10px;
  }

  .marginBottom {
    margin-bottom: 20px;
  }

  .location {
    margin: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .locationDiv .rightBoxShadow {
    box-shadow: none;
    padding: 20px;
  }

  .ethosImageContainer {
    height: 250px;
    display: flex;
    align-items: center;
  }

  .ethosBackgorund {
    height: revert-layer;
  }

  .ethosContainer {
    top: 20%;
    right: 0;
    padding-inline: 10px;
  }

  .mobileHide {
    display: none;
  }

  .DesktopHide {
    display: block;
  }

  .sectionTitle {
    font-size: 30px;
  }

  .articleCard1,
  .articleCard2,
  .articleCard3 {
    width: auto;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .articleDiv {
    padding-inline: 10px;
  }

  .viewAll {
    margin-bottom: 30px;
  }

  .locationDivTitle {
    font-size: 30px;
    line-height: 30px;
  }

  .rightBoxShadow,
  .leftBoxShadow {
    border-radius: 0;
    box-shadow: none;
  }

  .exclusiveTitle{
    text-align: center;
  }


  .bespokeDivTitle, .ethosTitle,.exclusiveTitle{
    font-size: 35px;
    line-height: 50px;
  }

  
}



@media screen and (max-width: 1300px) and (min-width:800) {
  .articleDiv {
    padding-inline: 10px;
  }


  .articleCard1,
  .articleCard2,
  .articleCard3 {
    margin-inline: 10px;
    height: 300px;
  }


}