@font-face {
    font-family: 'AwesomeSerif';
    src: url('/fonts/AwesomeSerif-SemBdExtraTall.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Coefficient DEMO';
    src: url('/fonts/Coefficient-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/* hero section image styles */
.imageContainer img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

/* @media (min-width: 768px) {
    .imageContainer img {
        max-height: 60vh;
    }
}

@media (min-width: 1024px) {
    .imageContainer img {
        max-height: 70vh;
    }
}

@media (min-width: 1280px) {
    .imageContainer img {
        max-height: 100vh;
    }
}

@media (min-width: 1600px) {
    .imageContainer img {
        max-height: 100vh;
    }
} */





/* text styles */
.mainTitle {
    color: #313131;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 60px;
}

.mainTitleStyleTwo {
    color: #313131;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 54px;
}

.serviceTitle {
    color: #292929;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 40px;
}

.paragraph {
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.imgHeight {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
    /* max-height: 580px; */
}



/* .darkButton {
    background-color: #313131;
    min-width: 107px;
    max-width: 107px;
    min-height: 33px;
    height: max-content;
    border-radius: 4px;
    color: #F3EEE7;
    font-family: 'AwesomeSerif';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 1.5px !important;
} */

.serviceItem {
    position: relative;
    margin-bottom: 50px;
}

.serviceItem>*:last-child {
    margin-top: auto;
}

.servicesList {
    height: max-content !important;
    margin-bottom: 20px;
}


.serviceInnerItem {
    box-shadow: 0px 2px 4px 0px #00000026;
    border: 1px solid #F3EEE7;
    border-radius: 15px;
    margin-bottom: 50px;
    position: relative;
    background: white;
    z-index: 2;
    padding: 20px;
}

.darkRectangle {
    position: absolute;
    width: 100%;
    height: 95%;
    background-color: #F3EEE7;
    z-index: 1;
    border-radius: 15px;
}

.heroTxt {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 106.63px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;

}

.roundedTopRight {
    border-top-right-radius: 50px;
}

.roundedBottomLeft {
    border-bottom-left-radius: 50px;
}

.roundedTopRightRct {
    border-top-right-radius: 50px;
    bottom: -10px;
    left: -10px;
}

.roundedBottomLeftRct {
    border-bottom-left-radius: 50px;
    top: -10px;
    right: -10px;

}

.serviceImage {
    border-radius: 15px;
    position: relative;
    z-index: 2;
    min-width: 600px;
}

.darkRectangleServiceMain {
    position: absolute;
    width: 100%;
    height: 95%;
    background-color: #F3EEE7;
    z-index: 1;
    border-radius: 100px 15px 15px 15px;
    top: -20px;
    right: -20px;
}

/* .shapedBg {
    height: 70% !important;
} */


.pricingList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.pricingItem {
    list-style-type: none;
}


@media (max-width: 1280px) {
    .heroTxt {
        font-size: 80px;
    }

    .serviceImage {
        min-width: 550px;
    }
}

/* @media (max-width: 992px) {

    .mobileHeight {
        height: 48vh;
    }
} */

@media (max-width: 768px) {
    .mainTitle {
        font-size: 50px;
        margin-top: 30px;
    }

    .mainTitleStyleTwo {
        font-size: 44px;
    }

    .paragraph {
        line-height: 25px;
    }

    .heroTxt {
        font-size: 60px;
    }

}

@media (max-width: 600px) {
    .mainTitleStyleTwo {
        font-size: 40px;
    }

    .heroTxt {
        font-size: 50px;
    }

    /* .mobileHeight {
        height: 48vh;
    } */

    /* .shapedBg {
        height: 100% !important;
    } */

    .serviceImage {
        min-width: 100%;
    }

    .darkRectangleServiceMain {
        top: -10px;
        right: -8px;
    }

    .serviceInnerItem h4 {
        font-size: 30px;
    }

    .serviceInnerItem li {
        font-size: 20px;
    }

    .serviceInnerItem a {
        font-size: 16px;

    }

    .pricingList {
        display: flex;
        flex-direction: column;

    }
}





/* shape background */
.sectionShaped {
    padding: 40px 16px;
}

@media (min-width: 768px) {
    .sectionShaped {
        padding: 64px 24px;
    }
}

@media (min-width: 1024px) {
    .sectionShaped {
        padding: 80px 32px;
    }
}

/* @media (min-width: 1280px) {
    .sectionShaped {
        padding: 96px 40px;
    }
}

@media (min-width: 1600px) {
    .sectionShaped {
        padding: 80px 48px;
    }
} */










/* .serviceItem h4 {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #292929;
    letter-spacing: 1px !important;
}

.serviceItem h5 {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #595959;
    letter-spacing: 1px !important;
}

.serviceItem ul,
.serviceInnerItem ul {
    list-style: none;
    padding-left: 0px;
}

.serviceItem li {
    font-family: 'AwesomeSerif', sans-serif;
    color: #8F8F8F;
    font-size: 14px;
    letter-spacing: 1px !important;
    padding-left: 0px;
    font-weight: 300;
}

.serviceInnerItem h4 {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #292929;
    letter-spacing: 1px !important;
}

.serviceInnerItem li {
    font-family: 'AwesomeSerif', sans-serif;
    color: #8F8F8F;
    letter-spacing: 1px !important;
    padding-left: 0px;
    font-size: 26px;
    font-weight: 300;
}

.serviceInnerItem a {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 7.86px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #BCBCBC;
    text-decoration: none;

} */







/* new scale up styles */

.serviceItem ul,
.serviceInnerItem ul {
    list-style: none;
    padding-left: 0px;
}
.darkButton {
    background-color: #313131;
    min-width: 107px;
    max-width: max-content;
    min-height: 33px;
    height: max-content;
    border-radius: 4px !important;
    color: #F3EEE7;
    font-family: 'AwesomeSerif';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 1.5px !important;
    outline: none;
    box-shadow: none;
}

.se_title_60 {
    font-size: 54px;
    color: #313131;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
}
.se_txt_15 {
    font-size: 15px;
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.se_txt_40 {
    font-size: 40px;
    color: #292929;
    font-family: 'Coefficient DEMO';
    font-weight: 300;
}
.se_txt_20_work_sans {
    font-size: 20px;
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}
.se_txt_18 {
    font-size: 18px;
    color: #292929;
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
}

.se_txt_12 {
    font-size: 12px;
    color: #595959;
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
}

.se_txt_14 {
    font-size: 14px;
    color: #8F8F8F;
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 300;
}

.se_link_a_20 {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 7.86px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #BCBCBC;
    text-decoration: none;

}
.se_li_26 {
    font-family: 'AwesomeSerif', sans-serif;
    color: #8F8F8F;
    letter-spacing: 1px !important;
    padding-left: 0px;
    font-size: 26px;
    font-weight: 300;
}
.se_txt_25_awesome {
    font-size: 25px;
    color: #313131;
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
}
.se_txt_16_work_sans {
    font-size: 16px;
    color: #211E1E;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}
.se_txt_35_awsome {
    font-size: 35px;
    color: #313131;
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
}
.se_txt_20_work_sans {
    font-size: 20px;
    color: #211E1E;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    text-align: center;
}
.se_txt_50_coe {
    font-size: 50px;
    color: #272727;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
}
.se_txt_14_work_sans {
    font-size: 14px;
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}
.se_txt_12_work_sans {
    font-size: 12px;
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}
.se_txt_10_work_sans {
    font-size: 10px;
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    text-align: center;
}
.line_border{
    border-bottom: 0.8px solid #BDBDBD
}
.se_txt_16_work_sans_dark {
    font-size: 16px;
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}
.se_26_card_txt {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    position: absolute;
    padding: 20px;
    margin-bottom: 0px;
  }

  .articleCard1 .card-body, .articleCard2 .card-body, .articleCard3 .card-body{
    /* background-image: url('../public/Overlay.svg'); */
    background: linear-gradient(180deg, rgba(24, 59, 86, 8.5e-05) 0%, rgba(21, 37, 50, 0.85) 100%);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  }
@media screen and (min-width: 1920px) {
    .se_title_60 {
        font-size: 64px;
    }
    .se_txt_15 {
        font-size: 25px;
    }
    .se_txt_40 {
        font-size: 50px;
    }
    .se_txt_18 {
        font-size: 22px;
    }
    .se_txt_12 {
        font-size: 18px;
    }
    .se_txt_14 {
        font-size: 20px;
    }
    .darkButton{
        font-size: 18px;
    }
    .se_link_a_20 {
        font-size: 28px;
    }
    .se_txt_20_work_sans {
        font-size: 28px;
    }
    .se_li_26 {
        font-size: 32px;
    }
    .se_txt_25_awesome {
        font-size: 30px;
    }
    .se_txt_16_work_sans {
        font-size: 24px;
    }
    .se_txt_16_work_sans_dark {
        font-size: 24px;
    }
    .se_txt_35_awsome {
        font-size: 40px;
    }
    .se_txt_20_work_sans {
        font-size: 28px;
    }
    .se_txt_50_coe {
        font-size: 56px;
    }
    .se_txt_14_work_sans {
        font-size: 18px;
    }
    .se_txt_12_work_sans {
        font-size: 16px;
    }

    .se_txt_10_work_sans {
        font-size: 12px;
    }
    .se_26_card_txt {
        font-size: 32px;
    }
}

@media screen and (min-width: 2560px) and (max-width: 3839px) {
    .se_title_60 {
        font-size: 74px;
    }
    .se_txt_15 {
        font-size: 35px;
    }
    .se_txt_40 {
        font-size: 60px;
    }
    .se_txt_18 {
        font-size: 26px;
    }
    .se_txt_12 {
        font-size: 28px;
    }
    .se_txt_14 {
        font-size: 30px;
    }
    .darkButton{
        font-size: 28px;
    }
    .se_link_a_20 {
        font-size: 36px;
    }
    .se_txt_20_work_sans {
        font-size: 36px;
    }
    .se_li_26 {
        font-size: 40px;
    }
    .se_txt_25_awesome {
        font-size: 36px;
    }
    .se_txt_16_work_sans {
        font-size: 28px;
    }
    .se_txt_35_awsome {
        font-size: 46px;
    }
    .se_txt_16_work_sans_dark {
        font-size: 28px;
    }
    .se_txt_20_work_sans {
        font-size: 36px;
    }
    .se_txt_50_coe {
        font-size: 60px;
    }
    .se_txt_14_work_sans {
        font-size: 22px;
    }
    .se_txt_12_work_sans {
        font-size: 22px;
    }
    .se_txt_10_work_sans {
        font-size: 14px;
    }
    .se_26_card_txt {
        font-size: 38px;
    }
}

@media screen and (min-width: 3840px) {
    .se_title_60 {
        font-size: 84px;
    }
    .se_txt_15 {
        font-size: 45px;
    }
    .se_txt_40 {
        font-size: 70px;
    }
    .se_txt_18 {
        font-size: 30px;
    }
    .se_txt_12 {
        font-size: 36px;
    }
    .se_txt_14 {
        font-size: 38px;
    }
    .darkButton{
        font-size: 36px;
    }
    .se_link_a_20 {
        font-size: 42px;
    }
    .se_txt_20_work_sans {
        font-size: 42px;
    }
    .se_li_26 {
        font-size: 46px;
    }
    .se_txt_25_awesome {
        font-size: 42px;
    }
    .se_txt_16_work_sans {
        font-size: 38px;
    }
    .se_txt_35_awsome {
        font-size: 50px;
    }
    .se_txt_35_awsome {
        font-size: 50px;
    }
    .se_txt_20_work_sans {
        font-size: 42px;
    }
    .se_txt_50_coe {
        font-size: 66px;
    }
    .se_txt_14_work_sans {
        font-size: 28px;
    }
    .se_txt_12_work_sans {
        font-size: 28px;
    }
    .se_txt_10_work_sans {
        font-size: 16px;
    }
    .se_txt_16_work_sans_dark {
        font-size: 38px;
    }
    .se_26_card_txt {
        font-size: 42px;
    }
}

@media screen and (max-width: 600px){
    .se_txt_50_coe{
        font-size: 40px;
    }
}