@font-face {
    font-family: 'AwesomeSerif';
    src: url('/fonts/AwesomeSerif-SemBdExtraTall.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Coefficient DEMO';
    src: url('/fonts/Coefficient-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


/* hero section image styles */
.imageContainer img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

@media (min-width: 768px) {
    .imageContainer img {
        max-height: 60vh;
    }
}

@media (min-width: 1024px) {
    .imageContainer img {
        max-height: 70vh;
    }
}

@media (min-width: 1280px) {
    .imageContainer img {
        max-height: 80vh;
    }
}

@media (min-width: 1600px) {
    .imageContainer img {
        max-height: 85vh;
    }
}





/* text styles */
.mainTitle {
    color: #313131;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 60px;
}

.mainTitleStyleTwo {
    color: #313131;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 54px;
}

.serviceTitle {
    color: #292929;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 40px;
}

.paragraph {
    color: #313131;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.imgHeight {
    object-fit: contain;
    object-position: right;
    height: 100%;
    width: 100%;
    max-height: 580px;
}

.serviceImage {}

.darkButton {
    background-color: #313131;
    min-width: 107px;
    min-height: 33px;
    height: max-content;
    border-radius: 4px;
    color: #F3EEE7;
    font-family: 'AwesomeSerif';
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 1.5px !important;
}

.serviceItem {
    position: relative;
    margin-bottom: 40px;
}

.servicesList {
    height: max-content !important;
    margin-bottom: 20px;
}

.serviceItem h4 {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #292929;
    letter-spacing: 1px !important;
}

.serviceItem h5 {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #595959;
    letter-spacing: 1px !important;
}

.serviceItem ul,
.serviceInnerItem ul {
    list-style: none;
    padding-left: 0px;
}

.serviceItem li {
    font-family: 'AwesomeSerif', sans-serif;
    color: #8F8F8F;
    font-size: 14px;
    letter-spacing: 1px !important;
    padding-left: 0px;
    font-weight: 300;
}

.serviceInnerItem h4 {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #292929;
    letter-spacing: 1px !important;
}

.serviceInnerItem li {
    font-family: 'AwesomeSerif', sans-serif;
    color: #8F8F8F;
    letter-spacing: 1px !important;
    padding-left: 0px;
    font-size: 26px;
    font-weight: 300;
}

.serviceInnerItem a {
    font-family: 'AwesomeSerif', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 7.86px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #BCBCBC;
    text-decoration: none;

}

.serviceInnerItem {
    box-shadow: 0px 2px 4px 0px #00000026;
    border: 1px solid #F3EEE7;
    border-radius: 15px;
    margin-bottom: 50px;
    position: relative;
    background: white;
    z-index: 2; 
    padding: 20px;
}

.darkRectangle {
    position: absolute;
    width: 100%;
    height: 95%; 
    background-color: #F3EEE7;
    z-index: 1; 
    border-radius: 15px;
}

.heroTxt {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    font-family: 'Coefficient DEMO';
    font-weight: 400;
    font-size: 106.63px;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;

}
.roundedTopRight {
    border-top-right-radius: 50px;
  }
  
  .roundedBottomLeft {
    border-bottom-left-radius: 50px;
  }
  .roundedTopRightRct {
    border-top-right-radius: 50px;
    bottom: -10px;
    left: -10px;
  }
  
  .roundedBottomLeftRct {
    border-bottom-left-radius: 50px;
    top: -10px;
    right: -10px;
    
  }

@media (max-width: 1280px){
    .heroTxt {
        font-size: 80px;
    }
}

@media (max-width: 992px) {
    .imgHeight {
        object-position: center;
    }

    .mobileHeight {
        height: 40vh;
    }
}

@media (max-width: 768px) {
    .mainTitle {
        font-size: 50px;
        margin-top: 30px;
    }

    .mainTitleStyleTwo {
        font-size: 44px;
    }

    .paragraph {
        line-height: 25px;
    }
    .heroTxt {
        font-size: 60px;
    }

}

@media (max-width: 600px) {
    .mainTitleStyleTwo {
        font-size: 40px;
    }
    .heroTxt {
        font-size: 50px;
    }
    .mobileHeight {
        height: 40vh;
    }
    .shapedBg{
        height: 100% !important;
    }
}



/* shape background */
.sectionShaped {
    padding: 40px 16px;
}

@media (min-width: 768px) {
    .sectionShaped {
        padding: 64px 24px;
    }
}

@media (min-width: 1024px) {
    .sectionShaped {
        padding: 80px 32px;
    }
}

@media (min-width: 1280px) {
    .sectionShaped {
        padding: 96px 40px;
    }
}

@media (min-width: 1600px) {
    .sectionShaped {
        padding: 120px 48px;
    }
}